
/*nav*/
nav{
    display: flex;
    flex-direction: column;
    position: fixed;
  }

  .navBar{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      position: fixed;
      width: 100vw;
  }
  
  .navOptions{
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    font-weight: lighter;
    color: rgb(255, 255, 255);
  }
  
  .navOptions > li{
    margin: 20px;
  }

  .navOptions > li:hover{
    color: rgb(253, 193, 50)
  }
  
  .startBootstrap{
    font-family: 'Brush Script MT', cursive;
    font-size: 35px;
  
    color: rgb(248, 210, 88);
  }

  .menuButton{
      display: none;
  }
  
  .hamburgerIcon{
    height: 15px;
    width: 15px;
  }

  .menuOpen,menu{
      display: none;
  }

  
  @media (max-width: 785px){
      nav{
        background-color: rgb( 29, 29, 32 );
      }

      .navOptions{
          display: none;
      }

      .menuButton{
          display:inline-block;
      }


      .menuOpen{
        display: inline-block;
        margin-top: 60px;
      }

      .menuLinks{
        background-color: rgb( 29, 29, 32 );
        width: 100vw;
        animation-duration: 3s;
        transition-timing-function: linear;
        animation-name: menuSlideOpen;
        
      }

      .menuLinks > li:hover{
        color: rgb(253, 193, 50)
      }

      @keyframes menuSlideOpen {
         

        0%{
          transform: translateY(-100%);
        }
        100%{
          transform: translateY(0%);
        }
      }

      

  }