
/*Welcome page*/
.welcomeBody{
    padding-top: 450px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .welcomeToOurStudio{
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  .niceToMeetYou{
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  .tellMeMore{
    padding: 1.25rem 2.5rem;
      font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 1.125rem;
      font-weight: 700;
  }
  
  .tellMeMore:hover{
    background-color: rgb(253, 193, 50)
  }
  
  @media (max-width: 750px){
    
    .welcomeBody{
        padding-top: 200px;
    }

    .welcomeToOurStudio{
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .niceToMeetYou{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }


  }