/*Index: 
    Main app, general script tag styling
    Nav
    Welcome page
*/

/*Main app*/
.App {
  background-image: URL(Background.jpeg);
  box-sizing: border-box;
  width: 100vw;
  color: white;
}

button{
  background-color: rgb(248, 210, 88);
  color:rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

/*nav*/
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100vw;
}

.navOptions{
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  font-weight: lighter;
  color: rgb(255, 255, 255);
}

.navOptions > li{
  margin: 20px;
}

.startBootstrap{
  font-family: 'Brush Script MT', cursive;
  font-size: 35px;

  color: rgb(248, 210, 88);
}

/*Welcome page*/
.welcomeBody{
  padding-top: 450px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeToOurStudio{
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.niceToMeetYou{
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 4rem;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.tellMeMore{
  padding: 1.25rem 2.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;
}

.tellMeMore:hover{
  background-color: rgb(253, 193, 50)
}




/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/